{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Trends</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Current Fashion Trends</h1>
        <ul>
            {% for trend in trends %}
                <li>{{ trend }}</li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'trends:home' %}">Explore more!</a>
    <br>
</body>

<br>

<a href="{% url 'trends:home' %}">Back to Home</a>
</html>