{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Wardrobe</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Your Virtual Wardrobe</h1>
    <div class="container">
        <h2>Male shoes</h2>
        <div class="responsive">
            <img src="{% static 'media/maleshoes.jpg' %}" alt="shoes">
        </div>
    </div>

    <div class="container">
        <h2>Suites</h2>
        <div class="responsive">
            <img src="{% static 'media/suites.jpg' %}" alt="suites">
        </div>
    </div>

    <div class="container">
        <h2>Femalewears</h2>
        <div class="responsive">
            <img src="{% static 'media/femalewear.jpg' %}" alt="femalewear">
            
        </div>
    </div>
    
    <div class="container">
        <h2>Casual Wears</h2>
        <div class="responsive">
            <img src="{% static 'media/casual.jpg' %}" alt="casual">
            <!-- <img src="{% static 'media\dresses.mp4' %}" alt="dresses"> -->
        </div>
    </div>

    <div class="container">
        <h2>Dresses</h2>
        <div class="responsive">
            <img src="{% static 'media\dresses.mp4' %}" alt="dresses">
        </div>
    </div>


</body>

<a href="{% url 'trends:home' %}">Back to Home</a>
<br>
<a href="{% url 'trends:milestones' %}">Next Page</a>
</html>