{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Wardrobe</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Your Virtual Wardrobe</h1>
    <div class="container">
        <h2>Male shoes</h2>
        <div class="responsive">
            <img src="{% static 'media/shoe2.jpg' %}" alt="shoes">
            <img src="{% static 'media/maleshoes.jpg' %}" alt="shoes">
            <img src="{% static 'media/types.jpg' %}" alt="shoes">
            <img src="{% static 'media/boots.jpg' %}" alt="shoes">
            
        </div>
    </div>

    <div class="container">
        <h2>Suites</h2>
        <div class="responsive">
            <img src="{% static 'media/suite2.jpg' %}" alt="suites">
            <img src="{% static 'media/suite1.jpg' %}" alt="suites">
            <img src="{% static 'media/suite3.jpg' %}" alt="suites">
            <img src="{% static 'media/suites.jpg' %}" alt="suites">           
            
        </div>
    </div>

    <div class="container">
        <h2>Femalewears</h2>
        <div class="responsive">
            <img src="{% static 'media/femalewear.jpg' %}" alt="femalewear">
            <img src="{% static 'media/trousers.jpg' %}" alt="femalewear">
            <img src="{% static 'media/outfit.jpg' %}" alt="femalewear">
            <img src="{% static 'media/work.jpg' %}" alt="femalewears">

            
        </div>
    </div>
    
    <div class="container">
        <h2>Casual Wears</h2>
        <div class="responsive">
            <img src="{% static 'media/jeans.jpg' %}" alt="casual">
            <img src="{% static 'media/summer.jpg' %}" alt="casual">
            <img src="{% static 'media/mens.jpg' %}" alt="casual">
            
        </div>
    </div>

   

    <div class="container">
        <h2>Female Shoes</h2>
        <div class="responsive">
            <img src="{% static 'media\femaleshoes.jpg' %}" alt="femaleshoes">
            <img src="{% static 'media/heels.jpg' %}" alt="casual">
        </div>
    </div>


    <div class="container">
        <h2>Dresses</h2>
        <div class="responsive">
            <img src="{% static 'media\dresses.mp4' %}" alt="dresses">
        </div>
    </div>
</body>

<a href="{% url 'trends:home' %}">Back to Home</a>
<br>
<a href="{% url 'trends:milestones' %}">Next Page</a>
</html>